.footballer {
    background-color: grey;
    padding: 1%;
    margin: 1%;
    border: 1px solid black;
    border-radius: 20px;
    
}


.footballer:hover {
    -webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}



.antworten {
    width: 25%;
    height: 25%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    
   
}