div,body {
    text-align: center;
}


.footballer {
    text-align: center;
    background-color: grey;
    padding: 1%;
    margin: 1%;
    border: 1px solid black;
    border-radius: 20px;
    width: 85%;
    
}


.footballer:hover {
    -webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}



.antworten {

    text-align: center;
    width: 25%;
    height: 25%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    
   position: fixed;
   right: 37.5%;
   left:37.5%;
}

.middlediv {
    text-align: center;
}